<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienvenido</title>
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Proyecto Web</a>
        <div class="ml-auto">
            <a class="btn btn-outline-light mr-2" href="/login">Login</a>
            <a class="btn btn-outline-light" href="/register">Register</a>
        </div>
    </nav>

    <div class="main-content">
        <div class="container text-center mt-5">
            <h1 class="text-primary">¡Bienvenido!</h1>
            <p>Gracias por registrarte en nuestro sistema.</p>
        </div>
    </div>


    <footer class="footer bg-primary  text-white text-center p-3 mt-5">
        <p>&copy; 2024 Proyecto Web. Desarrollado por Jhuliet Tibasosa</p>
    </footer>
</body>
</html>